@import "tailwindcss";

:root {
  --background: #fbfbfb;
  --foreground: #002bba;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-instrument-sans);
  --font-serif: var(--font-instrument-serif);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Instrument Sans", sans-serif;
  height: 100%;
  scroll-behavior: auto !important; /* disable default smooth scroll */
}

::selection {
  color: white;
  background: black;
}
