@import "tailwindcss";

:root {
  --background: #fbfbfb;
  --foreground: #002bba;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-instrument-sans);
  --font-serif: var(--font-instrument-serif);
}

html,
body {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  background: var(--background);
  color: var(--foreground);
  font-family: "Instrument Sans", sans-serif;
}

::selection {
  color: white;
  background: black;
}

.lenis.lenis-stopped {
  overflow: hidden;
}
